

.carousel-item img {
    width: 100%;
    height: 700px;   /* podés cambiarlo */
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 220px;  /* ajustá a tu gusto */
    object-fit: cover;
}

/* Grids del panel de administracion*/
.admin-box {
    padding: 20px;
    background: #454546;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.admin-box:hover {
    transform: translateY(-3px);
}
